.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 10vh;
    text-overflow: auto;
}

.navButtons:hover {
    filter: brightness(0.9);
}


.titleSite {
    font-size: 2.5vmax;
}

.nav a {
    text-decoration: none;
    color: inherit
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
    display:flex;
}

#loginButton {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: green;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

#regButton {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: gray;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

#submitButton {
    color: black;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
 }

.bigContainer {
    display: flex;
}

.leaflet-container {
    display:block;
    flex: 1;
    top:0;
    height: 89vh;
    width: 50vw;
    padding-left: 15vw;
}

.spotContainer {
    display: grid;
    place-items: center;
    flex: 1;
    overflow-y: auto;
    height: 89vh;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.element-container {
    position: relative;
    height: 15vw;
    width: 37vw;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    animation: fadeIn 0.5s ease-in-out forwards;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #555555;
}

#text1 {
    position: relative;
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.element-text {
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 1.5vw;
    color: white;
    text-align: left;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */    
}

.element-textAddress {
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 1vw;
    color: white;
    text-align: left;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.errorText {
    margin-top: 5vh;
    text-align: center;
}

.spotWindow {  
    display: grid;
    place-items: left;
    flex: 1;
    overflow-y: auto;
    height: 89vh;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out forwards;
    
}

.spotInfoContainer {
    margin-left: 1.5vw;
    display: inline-block;
}

#spotTitleText {
    font-size: 30px;
}

.spotDescription {
    overflow-y: auto;
    overflow-x:hidden;
    height: auto;
    width: 37vw;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    padding: 10px;
}

#spotAddress {
    margin-top: 10px;
}

#backButton {
    border: none;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    color:white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#spotInfo {
    margin-top: 15px;
    width: 645px;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.spotImage {
    display: block;
    height: 50vh;
    width: 39vw;
    margin-bottom: 5px;
    animation: fadeIn 0.5s ease-in-out forwards;
    box-shadow: 2px 2px 10px #555555;
    object-fit: cover;
}

/* #prevImageButton {
    position: absolute;
    top: 35%;
    display: flex;
}

#nextImageButton {
    position: absolute;
    top: 15%;
    display: flex;
} */

.imageContainer {
    position: relative;
    display: inline-block;
  }

.button-container {
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
  }

  .button-container.left {
    left: -5px;
  }

  .button-container.right {
    right: -5px;
  }

  .button {
    background-color: #4c4b4b;
    opacity: 0.5;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    width:50px;
  }

  .button:hover{
    opacity: 0.7;
  }


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #969696 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media only screen and (max-width: 700px) {
    .element-text {
        position: absolute;
        top: 65%;
        left: 5%;
        font-size: 4vw;
        color: white;
        text-align: left;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */    
    }

    .element-textAddress {
        position: absolute;
        top: 80%;
        left: 5%;
        font-size: 2.5vw;
        color: white;
        text-align: left;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */    
    }


    .leaflet-container {
        flex: 1;
        top:0;
        height: 40vh;
        width: 100vw;
        padding-left: 15vw;
    }

    .spotContainer {
        display: grid;
        place-items: center;
        flex: 1;
        overflow-y: auto;
        height: auto;
        width: 100%;
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    .bigContainer {
        display: inline-block;
    }

    .element-container {
        position: relative;
        height: 40vw;
        width: 85vw;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: none;
        animation: fadeIn 0.5s ease-in-out forwards;
        overflow: hidden;
        margin-bottom: 10px;
        box-shadow: 2px 2px 10px #555555;
    }

    .spotImage {
        display: block;
        height: 30vh;
        width: 89vw;
        animation: fadeIn 0.5s ease-in-out forwards;
        box-shadow: 5px 5px 10px #3e3e3e;
        object-fit: cover;
    }

    .spotInfoContainer {
        margin-left: 5vw;
        display: inline-block;
    }

    .spotWindow {  
        display: grid;
        place-items: left;
        flex: 1;
        overflow-y: auto;
        height: 89vh;
        width: 100%;
        animation: fadeIn 0.5s ease-in-out forwards;
        
    }
    
    #spotTitleText {
        font-size: 7vw;
        width: 90vw;
    }
    
    .spotDescription {
        overflow-y: auto;
        overflow-x:hidden;
        height: auto;
        width: 90vw;
        border-radius: 10px;
        background-color: rgb(196, 196, 196);
        padding: 10px;
    }

    #spotAddress {
        margin-top: 2vh;
        width: 90vw;
    }

    #spotInfo {
        margin-top: 1vh;
        width: 1vw;
    }

    #backButton {
        border: none;
        border-radius: 6px;
        background-color: rgb(0, 0, 0);
        color:white;
        height: 50px;
        width: 300px;
        margin-top: 2vh;
        margin-left: 6.5vw;
}

    .nav {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 7vh;
        text-overflow: auto;
    }

    .nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 1.5vw;
        display:flex;
    }

    #loginButton {
        color: white;
        border: none;
        border-radius: 10px;
        background-color: green;
        padding-top: 1.25vh;
        padding-bottom: 1.25vh;
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 2vw;
    }
    
    #regButton {
        color: white;
        border: none;
        border-radius: 10px;
        background-color: gray;
        padding-top: 1.25vh;
        padding-bottom: 1.25vh;
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 2vw;
    }
    
    #submitButton {
        color: black;
        border: none;
        border-radius: 10px;
        background-color: white;
        padding-top: 1.25vh;
        padding-bottom: 1.25vh;
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 2vw;
     }
}
