.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 0 1rem;
}


.titleSite {
    font-size: 40px;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: inherit
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2rem;
    display:flex;
}

.loginButton {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: green;
    padding: 15px;
}

.regButton {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: gray;
    padding: 15px;
}

.submitButton {
    color: black;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
 }

.bigContainer {
    display: flex;
}

.leaflet-container {
    flex: 1;
    top:0;
    height: 89vh;
    width: 50vw;
    padding-left: 250px;
}

.spotContainer {
    display: grid;
    place-items: center;
    flex: 1;
    overflow-y: auto;
    height: 89vh;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.element-container {
    position: relative;
    height: 250px;
    width: 550px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    animation: fadeIn 0.5s ease-in-out forwards;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #555555;
}

#text1 {
    position: relative;
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.element-text {
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 20px;
    color: white;
    text-align: left;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */    
}

.element-textAddress {
    position: absolute;
    top: 75%;
    left: 5%;
    font-size: 15px;
    color: white;
    text-align: left;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.errorText {
    text-align: center;
}

.spotWindow {
    margin-left: 3vh;    
    animation: fadeIn 0.5s ease-in-out forwards;
}

.spotImage {
    height: auto;
    width: 80%;
    margin-bottom: 5px;
    margin-right: 20px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

#spotTitleText {
    font-size: 30px;
}

#backButton {
    border: none;
    border-radius: 5px;
    background-color: green;
    color:white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
}

#spotInfo {
    margin-top: 15px;
}

#prevImageButton {
    margin-right: 80%;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #969696 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
